body {
  text-align: center;
  background-color: rgb(206, 205, 205);
  margin: 2%;
}
span {
  font-weight: bold;
}
.container {
  text-align: left;
  max-width: 40%;
  margin-left: 30%;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#img-div {
  background-color: #fff;
  padding: 2%;
}
#img-caption {
  font-style: italic;
}
h3 {
  text-align: center;
}

li {
  margin: 2%;
}